* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*This for desktop*/
  font-size: 0.52vw;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}


@media screen and (max-width: 768px) {
  /*This is for mobile*/
  
  html {
    font-size: 1.3vw;
    overflow-x: hidden;
  }
}

